{% extends 'admins/adminbase.html' %}


{% block content %}

    <div class="jumbotron">
        <div class="row">

            <h1 style="margin-top: 240px" class="text-center text-white">Admin Here</h1>
            <p  class="text-center text-white">Preprocessing is the process of getting suitable attribute for classification. In this step the edudata.arff file has been given as an input to the weka tool. Originally the data set holds 17 features. These features are submitted to data preprocessing step to make enhanced classification. CfsSubsetEval attribute selection method was applied to yield the best attribute for Classification step. Multilayer Perceptron contains multiple layers. MLP is a network of perceptrons. The neurons are placed in layers with outputs always following toward the output layer. The multilayer perceptron be trained through the practice of back propagation Network. It is trained in a test conditions under person expound better output cost resultant function which is enhanced in the training. A multilayer perceptron can map out and recognize adequate difficulty to discover an estimated mathematical representation for the given circumstances. </p>
        </div>

    </div>

{% endblock %}
